:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
body{
  @apply bg-[#f5f5f5]
}

:root {
  --color-chrome: hsl(220, 90%, 56%);
  --color-safari: hsl(14, 99%, 56%);
  --color-firefox: hsl(36, 99%, 56%);
}
