:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
body{
  @apply bg-[#f5f5f5]
}

:root {
  --color-chrome: #4285f4;
  --color-safari: #007aff;
  --color-firefox: #ff7139;
  --color-edge: #0078d7;
  --color-other: #9e9e9e;

  --chart-1: 210, 90%, 60%;
  --chart-2: 220, 80%, 60%;
  --chart-3: 30, 70%, 55%;
  --chart-4: 190, 75%, 55%;
  --chart-5: 0, 0%, 60%;
}
